   :root {
       --rojo: #a60000;
       --negro: #000000;
       --blanco: #ffffff;
   }

   body {
       font-family: 'Montserrat', sans-serif;
       background-color: var(--blanco);
   }

   h1,
   h2,
   h3,
   .brand {
       font-family: 'Playfair Display', serif;
   }

   .navbar {
       background-color: var(--negro);
   }

   .logo-img {
       height: 50px;
       width: auto;
       display: block;
   }

   .img-footer {
       height: 50px;
       width: auto;

   }

   @media (max-width: 768px) {
       .logo-img {
           height: 40px;
       }
   }

   .navbar-brand {
       color: var(--rojo) !important;
   }

   .hero {
       height: 100vh;
       background-image: url('../images/Hotel.png');
       background-size: cover;
       background-position: center;
       display: flex;
       align-items: center;
       color: var(--blanco);
   }

   .subtitle {
       color: var(--rojo);
       letter-spacing: 3px;
       font-size: 0.8rem;
   }

   .search-box {
       background: rgba(255, 255, 255, 0.4);
       backdrop-filter: blur(1px);
       padding: 20px;
       border-radius: 10px;
   }

   .room-img {
       height: 220px;
       background-size: cover;
       background-position: center;
   }


   .exp-icon {
       font-size: 2.5rem;
       color: var(--rojo);
   }


   footer {
       background-color: var(--negro);
       color: #ccc;
   }

   footer h5 {
       color: var(--rojo);
   }

   .inicioSesion {
       background-image: url('../images/Vestibulo.png');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
   }

   #sessionStart {
       background-color: white;
       width: 100%;
       max-width: 400px;
       box-sizing: content-box;
   }